<div id="submission-list">
  <div ng-repeat="oneline in onelines">
    <h1>{{ oneline.subject }}</h1>
    <p>{{ oneline.oneline  }}</p>
    <a ng-click="deleteOneline(oneline._id)" class="delete-btn">Delete</a>
  </div>
</div>


<div class='row'>
  <div class='col-lg-6'>
    <form ng-submit="addOneline(e)">
      <input type="text" ng-model="subject" placeholder="What would you like to define?" class="form-control">
      <input type="text" ng-model="oneline" placeholder="How would you describe it?" class="form-control">
      <button type="submit" class="btn btn-success">Post</button>
    </form>
  </div>
</div>
